<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Legajo1" value="889059" />
      <add key="Legajo2" value="877301" />
      <add key="Legajo3" value="887607" />
      <add key="URL_API" value="https://cai-api.azurewebsites.net/api/v1/Biblioteca" />
      <add key="Copyright" value="UBA CAI 2020 tm" />

    </appSettings>
</configuration>